body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: 'Open Sans Semibold', sans-serif;
  color: black;
  font-size: 15px;
}

#screen {
  width: 100%;
  height: -moz-calc(100% - 54px);
  background-color:red;
  position: absolute;
  top: 0;
}

/* Shortcuts */

#shortcuts {
  position: absolute;
  bottom: 0;
  height: 54px;
  width: 100%;
  background: rgb(56, 59, 61);
}

#shortcuts .shortcut {
  float: left;
  width: 25%;
  margin: 5px 0;
  text-align: center;
}

#shortcuts .shortcut img {
  display: block;
  height: 79px;
  height: 79px;
  border-radius: 10px;
  margin: 10px auto 15px auto;
}

#shortcuts .shortcut span {
  display: block;
  height: 100%;
  color: white;
  margin: 10px auto 15px auto;
}

.currentApp {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.hidden {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  
}