
/**
 *   Common styles for all the applications in an OWD Device
 *
 *
 *
 */

@font-face {
  font-family: 'Arial Rounded MT';
  src: url('arial_rounded.ttf');
}

html, body {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height:100%;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  /*font-size: medium; */
}

p, span, h1, h2, h3, h4, h5, h6 {
  -moz-user-select:none;
}

/* window.console */
.console {
  display: none;
  position: absolute;
  top:  10px;
  left: 5px;
  background-color: lightgreen;
  color:black;
  z-index: 10000;
  width: 90%;
  height: 70%;
  overflow: auto;
}

/* For templates */
.template {
  display: none;
}

div,section,header,footer,nav {
  display: block;
  margin:  0;
  padding: 0;
  border:none;
}

/* Main application section by default */
section.appMain {
  overflow:hidden;
  height:100%;
  width: 100%;
  background: #e0dfdf;
  color:black;
}

.centered {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.hidden {
  display: none;
}

nav {
  height: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width:100%;
  height:100%;
}

nav li {
  float: left;
  margin: 0;
  padding: 0;
}

nav li button {
  font-size: 140%;
  width:100%;
  height:93%;
  border-bottom: none;
}

li#registryMenu button {
  border-bottom: none;
}

.threeColumn {
  width: 33.2%;
  height:100%;
}

section.contentBeforeButtonBar {
  height:90%;
  width:100%;
  /*overflow:hidden; */
}

footer.buttonBar {
  height:12%;
  width:100%;
}

button {
  padding:0;
  margin:0;
  text-decoration: none;
  outline: none;
  border:none;
  background: -moz-linear-gradient(top, #efefef 0%, #dddede 49%,
                        #d3d3d4 51%, #c7c7c8 100%);
  border-bottom: 1px solid #a5a5a5;
  border-top: 1px solid #f4f4f4;
  border-left: 1px solid #a5a5a5;
  border-right: 1px solid #f4f4f4;
}

button:focus::-moz-focus-inner {
  border-color: transparent !important;
}

button::-moz-focus-inner {
  border: none;
  padding: 0;
}

button img {
  border: 0;
  vertical-align: middle;
}

button span {
  color:black;
}

button:active {
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 49%,
                  #f3f3f3 51%, #e7e7e7 100%);
}

button.cancel, .notice {
    background: -moz-linear-gradient(top, #c5712d 0%, #ba5224 49%,
                        #b23f1e 51%, #9b140f 100%);
}

button.cancel span {
  color:white;
}

button.cancel:active {
  background: -moz-linear-gradient(top, #ff9b4e 0%, #ff6035 49%,
                        #ff6035 51%, #ef362e 100%);
}

button.accept {
  background: -moz-linear-gradient(top, #74c176 0%,  #55ad3c 49%,
                                                    #319b11 51%, #348900 100%);
}

button.accept:active {
  background: -moz-linear-gradient(top, #77e587 0%,  #73e95e 49%,
                                                    #53da32 51%, #5ed43d 100%);
}

.serviceHeader {
  background: -moz-linear-gradient(top, #5591b2 0%, #4690b9 49%,#2c81b0 51%, #4da0cf 100%);

}

.altBorders {
  border-bottom: 1px solid #a5a5a5;
  border-top: 1px solid #f4f4f4;
}

ul.itemSet li:not(.template),ol.itemSet li:not(.template) {
  padding: 0;
  margin: 0;
  list-style:none;
  display:block;
}

ul.itemSet,ol.itemSet {
  list-style:none;
  padding: 0;
  margin: 0;
  display:block;
}

.roundedText {
  font-family: "Arial Rounded MT";
}

time {
  display:inline;
}

.scrollable {
  overflow-x: hidden;
  width: -moz-calc(100% + 8px);
  overflow-y: auto;
}

*[data-overflow] {
  overflow-x: hidden;
  width: -moz-calc(100% + 8px);
}

*[data-overflow = 'auto'] {
  overflow-y: auto;
}

*[data-overflow = 'bounce'] {
  overflow-y: scroll;
}

*[data-overflow-maximum] {
  -moz-animation-name: maximumScroll;
  -moz-animation-duration: 0.4s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
}

@-moz-keyframes maximumScroll {
  0% { -moz-transform: translateY(0) }
  50% { -moz-transform: translateY(-100px) }
  100% { -moz-transform: translateY(0) }
}

*[data-overflow-minimum] {
  -moz-animation-name: minimumScroll;
  -moz-animation-duration: 0.4s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
}

@-moz-keyframes minimumScroll {
  0% { -moz-transform: translateY(0) }
  50% { -moz-transform: translateY(100px) }
  100% { -moz-transform: translateY(0) }
}

/* For the akami device */
@media screen and (max-width: 320px) {
  nav li button {
    font-size: 12pt;
    height:90%;
  }
}

img,span {
  max-width:100%;
}